<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      style="width: 100%; overflow-x: hidden;">
<head>
    <title>测试</title>
</head>
<body>
    <aside th:fragment="aside(active)" class="ui small vertical fluid menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="搜索...">
                <i class="search icon"></i>
            </div>
        </div>
        <a th:classappend="${active} == 'project' ? 'active' : ''" class="item"  th:href="@{/student/team/project}">
            项目管理
        </a>
        <a th:classappend="${active} == 'member' ? 'active' : ''" class="item"  th:href="@{/student/team/member}">
            队员管理
        </a>
        <a th:classappend="${active} == 'plan' ? 'active' : ''" class="item"  th:href="@{/student/team/plan}">
            计划管理
        </a>
        <a th:classappend="${active} == 'task' ? 'active' : ''" class="item"  th:href="@{/student/team/task}">
            任务管理
        </a>
        <a th:classappend="${active} == 'schedule' ? 'active' : ''" class="item"  th:href="@{/student/team/schedule}">
            <div class="ui small label">3</div>
            日程管理
        </a>
    </aside>
</body>
</html>