<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common/structure}"
      style="width: 100%; overflow-x: hidden;">
<head>
    <title>站内信</title>
</head>
<body layout:fragment="content">
<header th:replace="~{layout/tutor/header::nav(active='profile')}"></header>

<section class="ui container" style="margin-top: 1.5rem;">
    <h4 class="ui horizontal divider blue header"><i class="user icon"></i> 基本信息 </h4>
    <div class="ui blue table fluid" style="padding: 2em 1.5em 3.5em 1.5em;">
        <div class="ui form">
            <div class="three fields required">
                <div class="field">
                    <label> 姓名 </label>
                    <input th:value="${profile.name}" type="text" placeholder="请输入真实姓名">
                </div>
                <div class="field">
                    <label> 个人主页 </label>
                    <input type="text" placeholder="请输入个人主页">
                </div>
                <div class="field required">
                    <label> 性别 </label>
                    <select class="ui dropdown fluid">
                        <option value=""> 请选择性别 </option>
                        <option th:selected="${profile.gender == T(com.general.Enum.Gender).MALE}" value="1"> 男 </option>
                        <option th:selected="${profile.gender == T(com.general.Enum.Gender).FEMALE}" value="2"> 女 </option>
                    </select>
                </div>

            </div>
            <div class="three fields">
                <div class="field required">
                    <label> 手机号码 </label>
                    <input th:value="${profile.phoneNumber}" type="text" placeholder="此号码作为重要联系方式">
                </div>
                <div class="field">
                    <label> 微信号 </label>
                    <input th:value="${profile.wechatAccount}" type="text" placeholder="请输入微信号 ( 建议填写 )">
                </div>
                <div class="field required">
                    <label> Github 账号 </label>
                    <input th:value="${profile.githubAccount}" type="text" placeholder="Github 账号" disabled value="123456@gmail.com">
                </div>
            </div>
            <div class="three fields required">
                <div class="field">
                    <label> 邮箱 </label>
                    <input th:value="${profile.email}" type="text" placeholder="用于接收系统通知和邮件">
                </div>
                <div class="field">
                    <label> 邮箱密码 </label>
                    <input th:value="${profile.emailPassword}" type="password" placeholder="用于对接邮件系统">
                </div>
                <div class="field">
                    <label> 邮箱类型 </label>
                    <select class="ui dropdown fluid">
                        <option value=""> 邮箱类型 </option>
                        <option th:each="emailType: ${T(com.general.Enum.EmailType).values()}"
                                th:value="${emailType}"
                                th:text="${emailType}"
                                th:selected="${emailType==profile.emailType}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="ui basic blue button right floated"> 基本信息确认 </div>
        </div>
    </div>

    <h4 class="ui horizontal divider purple header" style="margin-top: 2em;"><i class="pin icon"></i> 导师问卷 </h4>

    <div class="ui purple table fluid" style="padding: 2em 1.5em 3.3em 1.5em;">

        <div class="ui form">
            <div class="three fields">
                <div class="field">
                    <label> 年份 </label>
                    <select class="ui dropdown fluid">
                        <option value="">年份</option>
                        <option value="1" selected>2016</option>
                        <option value="2">2015</option>
                        <option value="3">2014</option>
                    </select>
                </div>
                <div class="field">
                    <label> 课题 </label>
                    <select class="ui dropdown fluid">
                        <option value="">课题</option>
                        <option value="1" selected> 全部 </option>
                        <option value="2">ECollaboration Web</option>
                        <option value="3">ECollaboration App</option>
                    </select>
                </div>
                <div class="field">
                    <label> &nbsp; </label>
                    <button class="ui basic blue button fluid" id="js-add">
                        <i class="icon add"></i> 添加题目
                    </button>
                </div>
            </div>
        </div>

        <h4 class="ui horizontal divider purple header">  </h4>


        <div class="ui form">
            <div class="ui selection divided list questionnaire" style="margin-top: 1.5em;">
                <div class="item js-detail">
                    <div class="content" style="padding-top: .6em;">
                        <label> 1. 是否参加过具体的实践项目? </label>
                        <div class="inline fields" style="margin-top: .6em">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="frequency">
                                    <label> 是 </label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="frequency">
                                    <label> 否 </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item js-detail">
                    <div class="content" style="padding-top: .6em;">
                        <label> 2. 对以下哪一项感兴趣 </label>
                        <div class="grouped fields" style="margin-top: .6em">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="example2">
                                    <label> 前端开发 </label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="example2">
                                    <label> 后台开发 </label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="example2">
                                    <label> 架构设计 </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item js-detail">
                    <div class="content" style="padding-top: .6em;">
                        <label> 3. 对以下哪一项感兴趣 ( 可多选 ) </label>
                        <div class="grouped fields" style="margin-top: .6em">
                            <div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="example3">
                                    <label> 前端开发 </label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="example3">
                                    <label> 后台开发 </label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="example3">
                                    <label> 架构设计 </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item js-detail">
                    <div class="content" style="padding-top: .6em;">
                        <label> 4. 备注 </label>
                        <textarea style="margin-top: .8em;" rows="5" placeholder=""></textarea>
                    </div>
                </div>
            </div>

            <div class="ui basic blue button right floated" style="margin-top: -.2em"> 问卷信息确认 </div>
        </div>
    </div>
</section>

<!--问题详细-->
<div class="ui modal" id="js-detail-confirm">
    <div class="header">
        <span > 修改信息 </span>
    </div>
    <div class="content">
        <div class="ui form">
            <div class="fields required">
                <div class="ten wide field">
                    <label> 题目 </label>
                    <input type="text" placeholder="请输入问卷题目" value="有没有 Java Web 开发经验">
                </div>
                <div class="six wide field">
                    <label> 类型 </label>
                    <select class="ui dropdown fluid">
                        <option value="">类型</option>
                        <option value="1" selected>单选题</option>
                        <option value="2">多选题</option>
                        <option value="3">简答题</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="ui grid">
            <div class="twelve wide column"></div>
            <div class="four wide column">
                <div class="ui basic blue button fluid">
                    <i class="add icon"></i>
                    添加选项
                </div>
            </div>
        </div>
        <table class="ui celled selectable structured small table center aligned form">
            <thead>
            <tr>
                <th widtd="20"> 序号 </th>
                <th width="80%"> 选项内容 </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td> 1 </td>
                <td><input type="text" placeholder="请输入选项内容" value="是否参与过 Java Web 开发 "></td>
            </tr>
            <tr>
                <td> 2 </td>
                <td><input type="text" placeholder="请输入选项内容" value="是否参与过 App 开发 "></td>
            </tr>
            <tr>
                <td> 3 </td>
                <td><input type="text" placeholder="请输入选项内容" value="是否有过开发经验 "></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="actions">
        <div class="ui red button left floated">
            删除问题
        </div>
        <div class="ui buttons">
            <a class="ui blue basic button"> 保存 </a>
            <div class="ui basic red deny button"> 关闭 </div>
        </div>
    </div>
</div>

<!--添加问题-->
<div class="ui modal" id="js-add-confirm">
    <div class="header">
        <span > 请填写必要信息 </span>
    </div>
    <div class="content">
        <div class="ui form">
            <div class="fields required">
                <div class="ten wide field">
                    <label> 题目 </label>
                    <input type="text" placeholder="请输入问卷题目">
                </div>
                <div class="six wide field">
                    <label> 类型 </label>
                    <select class="ui dropdown fluid">
                        <option value="">类型</option>
                        <option value="1" selected>单选题</option>
                        <option value="2">多选题</option>
                        <option value="3">简答题</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="ui grid">
            <div class="twelve wide column"></div>
            <div class="four wide column">
                <div class="ui basic blue button fluid">
                    <i class="add icon"></i>
                    添加选项
                </div>
            </div>
        </div>
        <table class="ui celled selectable structured small table center aligned form">
            <thead>
            <tr>
                <th widtd="20"> 序号 </th>
                <th width="80%"> 选项内容 </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td> 1 </td>
                <td><input type="text" placeholder="请输入选项内容" value="是否参与过 Java Web 开发 "></td>
            </tr>
            <tr>
                <td> 2 </td>
                <td><input type="text" placeholder="请输入选项内容" value="是否参与过 App 开发 "></td>
            </tr>
            <tr>
                <td> 3 </td>
                <td><input type="text" placeholder="请输入选项内容" value="是否有过开发经验 "></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="actions">
        <div class="ui buttons">
            <a class="ui blue basic button"> 确认 </a>
            <div class="ui basic red deny button"> 关闭 </div>
        </div>
    </div>
</div>

<script>
    $('#js-add').click(function(e){
        $('#js-add-confirm').modal('show');
        return false;
        // 这里判断是否提交成功再确定选项按钮的状态
        e.stopPropagation();
    });
    $('.js-detail').click(function(e){
        $('#js-detail-confirm').modal('show');
        return false;
        e.stopPropagation();
    });
</script>
</body>
</html>